*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #555;
    width: 100vw;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
}
#title{
    font-size: 3rem;
    text-align: center;
}
#description{
    margin: 20px auto;
    font-size: 1.2rem;
    text-align: center;
}
form{
    color: #222;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    margin: auto;

}
.form-group{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

label{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.form-group>p{
    margin-bottom: 10px;
    font-size: 1.2rem;
}
input{
    font-size: 1.2rem;
    padding: 5px 10px ;
    border: none;
    outline: none;
    border-radius: 10px;
}
select{
    font-size: 1.2rem;
    padding: 5px 10px ;
    border: none;
    outline: none;
    border-radius: 10px;

}
#submit{
    font-size: 1.2rem;
    color: #333;
    background-color: rgb(5, 219, 98);
    border: none;
    outline: none;
    padding: 10px 20px;
    width: 100%;
}
#submit:hover{
    color: #fff;
    background-color: rgb(12, 156, 12);
}